<% provide(:page_title, "Board") %>
<%= link_to "New Board", "new", class: "btn btn-info" %>
<% for board in @boards %>
	<table class="table table-hover">
		<thead>
			<th>Title</th>
			<th>Created</th>
			<th>Updated</th>
		</thead>
		<tr>
			<td><%= link_to  "#{board.title}", "boards/#{board.id}" %></td>
			<td><%= board.created_at %></td>
			<td><%= board.updated_at %></td>
		</tr>
	</table>
<% end %>